.l_phone {
    width: 100%;
    height: 644px;
    /* 实现内容不被固定定位的栏占用 */
    padding-top: 84px;
}

.l_phone .word {
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 12px;
    /* border: 1px solid #000; */
    background-color: #F5F5F7;
}

.l_phone .phone {
    width: 100%;
    height: 600px;
}

.l_phone .phone .bg {
    width: 100%;
    height: 600px;
    display: block;
    background-image: url(../images/iphone_1202.jpg);
    background-repeat: no-repeat;
    background-size: 2200px 600px;
    background-position: center top;
    /* background-color: pink; */
    text-align: center;
    /* iphone12的字下调，且不撑开盒子 */
    box-sizing: border-box;
    padding-top: 30px;
}

.l_phone .phone .bg .one {
    width: 100%;
    height: 60px;
    font-size: 30px;
    box-sizing: border-box;
    margin-top: 10px;
    color: black;
}

.l_phone .phone .bg .two {
    width: 100%;
    height: 30px;
    font-size: 20px;
    margin-top: 10px;
    color: black;
}

.l_phone .phone .bg .three {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    color: gray;
}

.l_phone .phone .bg .four {
    width: 100%;
    height: 25px;
    margin-top: 10px;
    /* background-color: pink; */
    color: #06c;
    text-align: center;
    font-size: 18px;
}


/* 要用js写新增跳转代码 */


/* .l_phone .phone .bg .four span:nth-child(1) {
    width: 50px;
    height: 24px;
    color: #06c;
} */