.l_unit {
    width: 100%;
    height: 1350px;
    /* background-color: yellowgreen; */
    /* 把两个ul并行flex排列 */
    display: flex;
    justify-content: space-around;
    /* padding: 10px auto; */
    margin-top: 10px;
}

.l_unit ul {
    width: 49%;
    height: 1350px;
    /* background-color: sandybrown; */
    /* 把ul里面的li flex排列 */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.l_unit ul li {
    /* 这里li占ul的100% */
    width: 100%;
    height: 441px;
    /* background-color: turquoise; */
}


/* 开始给每个ul的每个li给背景图片 */

.l_unit ul:nth-child(1) li:nth-child(1) {
    background-image: url(../images/ipad03.jpg);
    background-repeat: no-repeat;
    background-size: 968px 441px;
    background-position: center top;
}

.l_unit ul:nth-child(1) li:nth-child(2) {
    background-image: url(../images/watch.jpg);
    background-repeat: no-repeat;
    background-size: 968px 441px;
    background-position: center top;
}

.l_unit ul:nth-child(1) li:nth-child(3) {
    background-image: url(../images/promo07.jpg);
    background-repeat: no-repeat;
    background-size: 968px 441px;
    background-position: center top;
}

.l_unit ul:nth-child(2) li:nth-child(1) {
    background-image: url(../images/mac.jpg);
    background-repeat: no-repeat;
    background-size: 968px 441px;
    background-position: center top;
}

.l_unit ul:nth-child(2) li:nth-child(2) {
    background-image: url(../images/airtag.jpg);
    background-repeat: no-repeat;
    background-size: 968px 441px;
    background-position: center top;
}

.l_unit ul:nth-child(2) li:nth-child(3) {
    background-image: url(../images/ios15.jpg);
    background-repeat: no-repeat;
    background-size: 968px 441px;
    background-position: center top;
}


/* 新增代码 */

.l_unit ul:nth-child(1) li:nth-child(1) a .one,
.l_unit ul:nth-child(1) li:nth-child(2) a .one,
.l_unit ul:nth-child(1) li:nth-child(3) a .one {
    width: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 32px;
}

.l_unit ul:nth-child(1) li:nth-child(1) a .two,
.l_unit ul:nth-child(1) li:nth-child(2) a .two,
.l_unit ul:nth-child(1) li:nth-child(3) a .two {
    width: 100%;
    color: white;
    font-size: 21px;
    text-align: center;
    margin-top: 8px;
}

.l_unit ul:nth-child(1) li:nth-child(1) a .three,
.l_unit ul:nth-child(1) li:nth-child(2) a .three,
.l_unit ul:nth-child(1) li:nth-child(3) a .three {
    width: 100%;
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
}


/* 第二个ul */

.l_unit ul:nth-child(2) li:nth-child(1) a .one,
.l_unit ul:nth-child(2) li:nth-child(2) a .one,
.l_unit ul:nth-child(2) li:nth-child(3) a .one {
    width: 100%;
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: 32px;
}

.l_unit ul:nth-child(2) li:nth-child(1) a .two,
.l_unit ul:nth-child(2) li:nth-child(2) a .two,
.l_unit ul:nth-child(2) li:nth-child(3) a .two {
    width: 100%;
    color: black;
    font-size: 21px;
    text-align: center;
    margin-top: 8px;
}

.l_unit ul:nth-child(2) li:nth-child(1) a .three,
.l_unit ul:nth-child(2) li:nth-child(2) a .three,
.l_unit ul:nth-child(2) li:nth-child(3) a .three {
    width: 100%;
    color: black;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
}


/* ul里面的.three中的a链接代码 */


/* 为什么显示不出来 */


/* 这里要用js写,点击就跳转界面 */

.l_unit ul:nth-child(1) li:nth-child(1) a .three span,
.l_unit ul:nth-child(1) li:nth-child(2) a .three span,
.l_unit ul:nth-child(2) li:nth-child(1) a .three span,
.l_unit ul:nth-child(2) li:nth-child(2) a .three span,
.l_unit ul:nth-child(2) li:nth-child(3) a .three span {
    /* background-color: pink; */
    color: #06c;
}